---
import FullLogo from '../../assets/svg/FullLogo.astro';
import Shell from '../../assets/svg/Shell.astro';
---

<section class="flex h-[100dvh] flex-col items-center justify-center">
	<div class="flex flex-col items-center justify-center">
		<FullLogo />
		<span class="mt-8 flex items-baseline gap-3 text-4xl tracking-wider text-accent-500">
			<span>massage</span>
			<Shell />
			<span class="ml-[3px]">therapy</span>
		</span>
	</div>
</section>

<style>
	section {
		font-family: 'orpheuspro', serif;
	}
</style>
