---
import { Image } from 'astro:assets';
---

<section class="flex h-[100dvh] flex-col items-center justify-center bg-gradient-to-b from-bg-200 to-white">
	<div class="overlay absolute h-full w-full">
		<Image
			src="/src/assets/images/sand.webp"
			alt="sand background"
			class="absolute z-0 h-full w-full object-cover opacity-[0.06]"
			width={1443}
			height={962}
			loading="eager"
		/>
	</div>
	<h1 id="hero-text" class="w-[310px] text-[38px]/[52px] md:w-[535px] md:text-[44px]/[58px] xl:text-[50px]/[66px]">
		Enter a haven of
		<span id="highlight" class="inline-block">
			<span class="word word-1">
				<span>r</span><span>e</span><span>l</span><span>a</span><span>x</span><span>a</span><span>t</span><span>i</span
				><span>o</span><span>n</span><span>,</span></span
			>
			<!-- <span class="word word-2 opacity-0">
				<span>r</span><span>e</span><span>j</span><span>u</span><span>v</span><span>e</span><span>n</span><span>a</span
				><span>t</span><span>i</span><span>o</span><span>n</span>
			</span> -->
		</span><br />
		just a stroll from the sand.
	</h1>
</section>

<style>
	section {
		position: relative;
		backface-visibility: hidden;
	}

	#hero-text {
		z-index: 10;
		display: block;
		text-align: center;
		color: var(--bg-700);
		font-family: 'orpheuspro', serif;
		box-sizing: content-box;
		opacity: 0;
	}

	.overlay::before {
		content: '';
		z-index: 10;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(0deg, white, hsla(31.2, 11.1%, 55.9%, 0.25));
	}
	#highlight {
		font-style: italic;
		/* color: var(--accent-500); */
		background: linear-gradient(to right, var(--accent-500), var(--accent-400));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	.reveal {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-delay: 0.25s;
		animation-name: fadeInLeft;
		opacity: 1;
	}

	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-40px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
</style>

<style lang="scss">
	.word span {
		display: inline-block;
		// Doesnt work with the text gradient
		// animation-name: smoky;
		animation-duration: 2.5s;
		animation-delay: 3s;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;
	}

	.word:nth-child(even) {
		// animation-name: smoky-mirror;
	}

	@keyframes smoky {
		60% {
			text-shadow: 0 0 40px darkgrey;
		}
		to {
			transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
			text-shadow: 0 0 20px darkgrey;
			opacity: 0;
		}
	}

	@keyframes smoky-mirror {
		60% {
			text-shadow: 0 0 40px darkgrey;
		}
		to {
			transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
			text-shadow: 0 0 20px darkgrey;
			opacity: 0;
		}
	}

	@for $item from 1 through 21 {
		.word span:nth-of-type(#{$item}) {
			animation-delay: #{(3 + (calc($item / 10)))}s;
		}
	}
</style>

<script>
	import loadHero from './loadHero';
	document.addEventListener('DOMContentLoaded', loadHero);
</script>
