<button class="p-4"
	><svg
		class="mt-[2px] md:mr-4 md:mt-0"
		width="36"
		height="12"
		viewBox="0 0 36 12"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect class="h-[2px] md:h-[3px]" width="36" fill="#635A4F"></rect>
		<rect class="h-[2px] md:h-[3px]" y="9" width="36" fill="#635A4F"></rect>
	</svg>
</button>
