---
import MenuButton from '../MenuButton.astro';
---

<nav id="nav" class="fixed top-0 z-20 flex w-full items-center justify-between px-8 py-10 text-lg opacity-0 xl:px-12">
	<button id="logo-btn"
		><svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 43.94 54.13"
			class="h-[54px] w-[45px] md:h-[64px] md:w-[53px]"
		>
			<g class="fill-bg-700">
				<path
					d="M28.49,7.67c0,4.28-2.83,7.76-8.27,9.29,4.46.42,7.2,3.49,7.2,7.34,0,6.04-6.79,10.23-13.15,10.23-3.11,0-5.02-.6-7.44-.6-1.21,0-2.65.14-4.42.6l-.19-.33c4.51-2.51,6.37-4.18,7.76-17.24,1.02-9.62,3.3-12.97,8.13-15.85-.51-.05-1.02-.09-1.53-.09C6.65,1.02,1.77,5.81,1.77,13.85c0,3.53,1.49,7.02,4.65,8.88l-.09.23C2.09,20.82,0,17.24,0,13.53,0,4.65,8.88,0,17.06,0s11.43,3.21,11.43,7.67ZM13.48,17.85c-1.12,6.27-2.04,10.46-6.65,13.76.65-.14,1.25-.19,1.86-.19,2.88,0,6.32,1.44,8.65,1.44,3.07,0,6.23-1.95,6.23-8.09s-4.88-6.88-9.53-6.92h-.56ZM18.59,1.16c-3.58,2.6-3.3,6.41-4.83,15.24-.05.19-.09.37-.09.51h.84c6.6,0,10.13-2.74,10.13-9.11,0-3.63-1.95-6.04-6.04-6.65Z"
				></path>
				<path
					d="M22.45,33.13c5.53,0,8.46,3.35,8.46,6.6,0,1.77-.98,3.39-3.07,4l-.19-.23c1.39-.51,1.91-1.35,1.91-2.56,0-3.35-4-5.62-9.85-5.62-4.69,0-9.3,2.09-9.3,7.44,0,6.74,7.39,9.48,13.43,9.48,7.02,0,14.13-3.16,14.13-10.41,0-8.46-13.25-17.03-12.61-26.26.25-3.6,6.31-8.61,10.77-8.61,5.21,0,7.81,3.44,7.81,7.16,0,2.51-1.44,4.97-4.65,6.18l-.23-.23c2.04-.88,3.02-2.7,3.02-5.39s-1.95-5.62-7.34-5.62-6.82,3.06-6.82,7.01c0,7.58,12.85,13.45,12.85,23.86,0,9.34-10.83,14.22-19.01,14.22-6.04,0-13.25-3.11-13.25-9.67,0-6.97,7.62-11.34,13.94-11.34Z"
				></path>
			</g>
		</svg>
	</button>

	<div class="hidden items-center xl:flex">
		<div id="slider-container">
			<button class="nav-item selected">Welcome</button>
			<button class="nav-item">About</button>
			<button class="nav-item">Services</button>
			<hr id="slide" />
		</div>

		<button id="primary-btn" class="border-effect">
			<span>Book Now</span>
		</button>
	</div>

	<div class="xl:hidden">
		<MenuButton />
	</div>
</nav>

<style>
	nav {
		font-family: 'orpheuspro', serif;
		font-weight: 400;
		font-style: normal;
	}
	.nav-item {
		padding: 0.75rem 1.5rem 0.75rem 1.5rem;
		transition: all 0.1s ease-in-out;
		color: var(--bg-800);
	}
	.nav-item:hover {
		color: var(--bg-700);
	}
	.selected {
		color: var(--bg-700) !important;
	}
	#slide {
		height: 0.1rem;
		margin: 0;
		background: var(--bg-400);
		border: none;
		transition: 0.5s ease-in-out;
		display: block;
	}

	#primary-btn {
		margin-left: 4rem;
		background: hsl(28, 19%, 87%, 0.5);
		border: 1px solid var(--bg-400);
		transition: all 0.15s ease-in;
		display: inline-block;
		position: relative;
		color: var(--bg-800);
	}
	#primary-btn span {
		display: block;
		padding: 0.75rem 1.5rem 0.75rem 1.5rem;
		transition: all 0.5s ease-in-out;
	}
	#primary-btn span:hover {
		background: hsl(28, 25%, 93%, 0.5);
		color: var(--bg-900);
	}

	:root {
		--border-effect-color: var(--bg-500);
		--border-effect-thickness: 1px;
	}

	.border-effect::before,
	.border-effect::after,
	.border-effect span::before,
	.border-effect span::after {
		content: '';
		position: absolute;
		transition: all 0.2s linear;
	}

	.border-effect::before,
	.border-effect::after {
		height: var(--border-effect-thickness);
		background: var(--border-effect-color);
		width: 0;
	}
	.border-effect span::before,
	.border-effect span::after {
		width: var(--border-effect-thickness);
		background: var(--border-effect-color);
		height: 0;
	}
	.border-effect:hover::before,
	.border-effect:hover::after {
		width: 100%;
	}
	.border-effect:hover span::before,
	.border-effect:hover span::after {
		height: 100%;
	}
	.border-effect::after {
		left: 0;
		bottom: 0;
		transition-delay: 0.6s;
	}
	.border-effect span::after {
		transition-delay: 0.4s;
		right: 0;
		bottom: 0;
	}
	.border-effect::before {
		right: 0;
		top: 0;
		transition-delay: 0.2s;
	}
	.border-effect span::before {
		transition-delay: 0s;
		left: 0;
		top: 0;
	}
	.border-effect:hover::after {
		transition-delay: 0s;
	}
	.border-effect:hover span::after {
		transition-delay: 0.2s;
	}
	.border-effect:hover::before {
		transition-delay: 0.4s;
	}
	.border-effect:hover span::before {
		transition-delay: 0.6s;
	}
	.reveal {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-delay: 1s;
		animation-name: fadeInTop;
		opacity: 1;
	}

	@keyframes fadeInTop {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>

<script>
	import loadNav from './loadNav';

	loadNav();
</script>
